img {
    width: 100%;
    height: auto;
}

h1 {
    color: #ffffff;
    font-weight: bold;
}

p {
    color: #ffffff;
}

.btn:hover {
    border: 2px solid white;
}

.test {
    box-sizing: content-box;
    margin-right: 7px;
}