<!-- banner start -->
<div class="contain-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" *ngFor="let b of bannerResult; let i = index;"
                [ngClass]="{active:i===1}">
                <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" class="d-block w-100"
                    [routerLink]="['/movie', b.id]" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2>{{b.original_title || b.original_name}}</h2>
                    <p>{{b.overview}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- banner end -->

<div class="contain mt-3 p-4">

    <!-- trending movies -->
    <div class="row mt-3">
        <h5 class="text-white">Trending Movies</h5>
        <div class="rowposter p-2">
            <ng-container *ngFor="let t of trendingMovieResult">
                <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowing largeposter"
                    [routerLink]="['/movie', t.id]" alt="...">
                <!-- you can write routerLink="movie/{{t.id}}" or [routerLink]="['movie', t.id]" -->
            </ng-container>
        </div>
    </div>

    <!-- adventure movies -->
    <div class="row mt-3">
        <h5 class="text-white">Adventure Movies</h5>
        <div class="rowposter p-2">
            <ng-container *ngFor="let a of adventureMoviesResult">
                <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowing largeposter"
                    [routerLink]="['/movie', a.id]" alt="...">
                <!-- you can write routerLink="movie/{{t.id}}" or [routerLink]="['movie', t.id]" -->
            </ng-container>
        </div>
    </div>

    <!-- animation movies -->
    <div class="row mt-3">
        <h5 class="text-white">Animation Movies</h5>
        <div class="rowposter p-2">
            <ng-container *ngFor="let a of animationMoviesResult">
                <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowing largeposter"
                    [routerLink]="['/movie', a.id]" alt="...">
                <!-- you can write routerLink="movie/{{t.id}}" or [routerLink]="['movie', t.id]" -->
            </ng-container>
        </div>
    </div>

    <!-- action movies -->
    <div class="row mt-3">
        <h5 class="text-white">Actions Movies</h5>
        <div class="rowposter p-2">
            <ng-container *ngFor="let a of actionMoviesResult">
                <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowing largeposter"
                    [routerLink]="['/movie', a.id]" alt="...">
                <!-- you can write routerLink="movie/{{t.id}}" or [routerLink]="['movie', t.id]" -->
            </ng-container>
        </div>
    </div>

    <!-- comedy movies -->
    <div class="row mt-3">
        <h5 class="text-white">Comedy Movies</h5>
        <div class="rowposter p-2">
            <ng-container *ngFor="let c of comedyMoviesResult">
                <img src="https://image.tmdb.org/t/p/original/{{ c.poster_path }}" class="rowing largeposter"
                    [routerLink]="['/movie', c.id]" alt="...">
                <!-- you can write routerLink="movie/{{t.id}}" or [routerLink]="['movie', t.id]" -->
            </ng-container>
        </div>
    </div>

    <!-- documentary movies -->
    <div class="row mt-3">
        <h5 class="text-white">Documentary Movies</h5>
        <div class="rowposter p-2">
            <ng-container *ngFor="let d of documentryMoviesResult">
                <img src="https://image.tmdb.org/t/p/original/{{ d.poster_path }}" class="rowing largeposter"
                    [routerLink]="['/movie', d.id]" alt="...">
                <!-- you can write routerLink="movie/{{t.id}}" or [routerLink]="['movie', t.id]" -->
            </ng-container>
        </div>
    </div>

    <!-- scienceFiction movies -->
    <div class="row mt-3">
        <h5 class="text-white">Science Fiction Movies</h5>
        <div class="rowposter p-2">
            <ng-container *ngFor="let s of scienceFictionMoviesResult">
                <img src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}" class="rowing largeposter"
                    [routerLink]="['/movie', s.id]" alt="...">
                <!-- you can write routerLink="movie/{{t.id}}" or [routerLink]="['movie', t.id]" -->
            </ng-container>
        </div>
    </div>
</div>