.carousel-inner {
    height: 500px;
}

.carousel-inner .carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption h2 {
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p {
    color: #ffffff;
}

.rowposter {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.rowing {
    max-height: 200px;
    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 7px;
}

.rowing:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.largeposter {
    max-height: 300px;
}

.rowposter::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:500px) {
    .carousel-inner {
        height: 300px;
    }
    
    .carousel-inner .carousel-item img {
        height: 300px;
    }
    .carousel-caption h2 {
        font-size: 20px;
    }
    
    .carousel-caption p {
        display: none;
    }
    .rowing {
        max-height: 90px;
    }
  }
  
  @media screen and (min-width:500px) and (max-width:800px) {
    .rowing {
        max-height: 130px;
    }
  }

  @media screen and (min-width:800px) and (max-width:1200px) {
    .rowing {
        max-height: 180px;
    }
  }